In [1]:
%run DataNormalization.ipynb

C:\Users\HP\AppData\Local\Temp\ipykernel_19188\3476190814.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method="ffill", inplace=True)

In [2]:
import numpy as np
import pandas as pd

In [3]:
df = normalized_df.copy()

In [4]:
df = df.sort_values(["tunnel_id", "timestamp"])

In [5]:
#Average methane level for each tunnel
df["methane_avg"] = df.groupby("tunnel_id")["methane_pct"].transform("mean")

In [6]:
#Change in methane level from previous reading
df["methane_change"] = df.groupby("tunnel_id")["methane_pct"].diff()

In [7]:
#Simple risk score
df["risk_score"] = df["methane_pct"] + df["temperature_c"] + df["vibration_mm_s"]

In [8]:
df.head()

,timestamp,tunnel_id,methane_pct,temperature_c,humidity_pct,airflow_mps,vibration_mm_s,oxygen_pct,risk_label,methane_avg,methane_change,risk_score
0,2025-03-01 10:00:00,A,0.8,28.0,65,2.6,1.2,20.9,Safe,1.761538,NaN,30.0
3,2025-03-01 10:05:00,A,0.9,28.5,66,2.5,1.3,20.8,Safe,1.761538,0.1,30.7
6,2025-03-01 10:10:00,A,1.0,29.0,66,2.4,1.4,20.7,Safe,1.761538,0.1,31.4
9,2025-03-01 10:15:00,A,1.2,29.5,67,2.3,1.5,20.6,Safe,1.761538,0.2,32.2
12,2025-03-01 10:20:00,A,1.4,30.0,68,2.2,1.6,20.5,Warning,1.761538,0.2,33.0

In [9]:
featured_df = df